/* Định dạng trang chi tiết sản phẩm */
body {
    font-family: Arial, sans-serif;
}


/* CSS cho hình ảnh chính */
.img {
    width: 40%;
    margin-left: 60px;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
}

.img:hover {
    transform: scale(1.1);
}

/* CSS cho hình ảnh phụ */
.chitietproduct {
    position: relative; /* Đặt vị trí tương đối cho phần tử chứa ảnh và product */
}
  
  .chitietproduct .imagephu {
    display: flex; /* Sử dụng flexbox để căn chỉnh các hình ảnh phụ */
    margin-left: 6%;
  }
  
  .chitietproduct .imagephu .img1,
  .chitietproduct .imagephu .img2{
    width: 100px; /* Đặt chiều rộng cho hình ảnh phụ */
    height: auto; /* Đảm bảo tỷ lệ khung hình ảnh được bảo toàn */
    margin: 5px; /* Tạo khoảng cách giữa các hình ảnh phụ */
    border: 1px solid #ccc; /* Tạo viền cho hình ảnh */
  }
  
  /* CSS cho class product */
  .product {
    position: absolute; /* Đặt vị trí tuyệt đối cho phần tử product */
    top: -3%;
    bottom: 0; /* Đặt phần tử product ở phía dưới */
    left: 70%; /* Đặt phần tử product ở giữa theo chiều ngang */
    transform: translateX(-50%); /* Dịch chuyển phần tử product về bên trái 50% của chính nó */
    padding: 10px; /* Thêm padding để tạo khoảng cách với ảnh */
}

  /* CSS cho hiệu ứng phóng to khi hover */
  .chitietproduct .imagephu .img1:hover,
  .chitietproduct .imagephu .img2:hover {
    transform: scale(4.5); 
    z-index: 1; /* Đặt phần tử trên cùng khi hover */
    justify-content: center; /* Canh giữa các phần tử con theo chiều ngang */
    align-items: flex-start; /* Canh lên trên các phần tử con theo chiều dọc */
  }
  /* CSS cho lớp overlay */
  .overlay {
    top: 0;
    left: 0;
    width: 40%;
    height: 0;
    display: none; /* Mặc định ẩn lớp overlay */
    justify-content: center;
    align-items: center;
}

.h1 {
    animation: color-cycle 5s infinite linear;
    
}

@keyframes color-cycle {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.mota {
  margin-left: 10px;
  margin-right: 5%;
}