.text-center {
    margin-top: 5%;
}
.nut {
   margin-left:70%;
   margin-bottom: 10%;
}
.tong {
   font-size: 16px;
   font-weight: bolder;
   margin-left:70%;
   margin-top: 2%;
   margin-bottom: 2%;
}

/* CSS */
.boxcart {
   position: fixed;
   top: 20px;
   right: 20px;
   background-color: #ffffff;
   padding: 5px 10px;
   border-radius: 50%;
   box-shadow: 0px 0px 10px rgb(53, 0, 0);
   z-index: 999;
}

.cart {
   width: 30px;
   height: auto;
}
