.table-container {
    margin-bottom: 5%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; /* Add border between each column */
    width: 3%; /* Set each column width to 5% */
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  /* Adjust the height of the textarea */
  table textarea {
    height: 100%; /* Adjust the height as needed */
    width: 100%; /* Make the textarea fill the entire cell */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    table thead {
      display: none;
    }
    table tr {
      margin-bottom: 10px;
      display: block;
      border: 1px solid #ccc;
    }
    table th, table td {
      display: block;
      text-align: left;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd; /* Add border between each column */
      width: 100%; /* Set width to 100% for responsiveness */
    }
    table th:before, table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }
  