/* Định dạng toàn bộ form */
.contact-container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 20px;
    background-color: #d8edff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Định dạng các phần tử select và textarea */
.contact-select,
.contact-textarea {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #280000; /* Đổi màu viền */
    border-radius: 5px;
    box-sizing: border-box;
    transition: box-shadow 0.3s; /* Thêm hiệu ứng chuyển đổi */
    box-shadow: 0px 0px 10px rgba(212, 94, 94, 0.5); /* Mặc định bóng */
}

/* Hiệu ứng khi focus vào các phần tử select và textarea */
.contact-select:focus,
.contact-textarea:focus {
    box-shadow: 0px 0px 20px rgba(47, 0, 0, 0.7); /* Bóng màu #2f0000 khi focus, đậm hơn và lan rộng hơn */
}

.contact-textarea {
    height: 250px;
}

.contact-label {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.contact-submit {
    width: 50%;
    padding: 15px;
    background-color: #2f0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: block; 
    margin: 0 auto; 
}

.contact-submit:hover {
    background-color: #4d0000;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Định dạng tiêu đề */
.contact-heading {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: #2f0000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s;
    margin-top: 10px;
    margin-bottom: 5%;
}

/* Hiệu ứng khi hover vào tiêu đề */
.contact-heading:hover {
    text-shadow: 
        2px 2px 4px rgba(181, 255, 154, 0.7),
        3px 3px 6px rgba(255, 0, 0, 0.7),
        4px 4px 8px rgba(144, 69, 255, 0.7);
}
