body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f2f2f2;
}

.container123 {
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    animation: color-cycle 5s infinite linear;
}

@keyframes color-cycle {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.h1 {
    text-align: center;
    font-size: 50px;
    color: transparent;
  -webkit-text-stroke: 4px #ffa1a1; /* Viền neon */
  animation: neon-border-animation 7s linear infinite;
}

@keyframes neon-border-animation {
  0%, 100% {
      -webkit-text-stroke: 4px #ffa1a1; /* Màu viền neon */
  }
  50% {
      -webkit-text-stroke: 4px transparent;
  }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.text,
.file,
.textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.textarea {
    resize: vertical;
}

.submit {
    padding: 10px 20px;
    background-color: #5a0700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #ff9999;
}

.error {
    color: red;
    font-style: italic;
}
.grip {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
}

