/* Phần tử cha */

.bai_viet_container {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(77, 0, 0, 0.7); 
    background-color: #ffcaca;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden; 
    position: relative;
}

/* Hiệu ứng khi di chuột vào */
.bai_viet_container:hover {
    box-shadow: 0 0 20px rgba(63, 0, 0, 0.9); 
}

/* Nội dung bài viết */
.bai_viet {
    padding: 20px;
}

.bai_viet h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.bai_viet p {
    font-size: 18px;
}
.flake {
    position: absolute;
    top: -10vh;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(110vh);
    }
}
